<% provide(:title, "About Page") %>

 <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>

At the heart of Dublin , tasty is an informal atmospheric bar & dining room serving the best of local & seasonal ingredients to create modern international dishes.

our cooking has been described as natural & honest, presented in a relaxed setting.

We are open for Dinner only on Tuesday – Saturday The restaurant is closed Sundays, Mondays & bank holidays.

                          

Due to the Covid 19 regulations we have decreased our seating capacity will only be offering a limited number of reservations per evening.

. Once given advanced notice we can gladly cater for any dietary requirements you may have. Vegetarian menus are always available upon request.

Reservations are encouraged and we do our utmost to accommodate walk-ins. We look forward to welcoming you

We look forward to welcoming you soon in tasty .we also doing the delivery in these days.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
       <%= image_tag("focaccia-789517_1280.jpg", alt: "Welcome Logo", :class => "w3-round w3-image w3-opacity-min", size:"200*100" ) %>
      
      <h3>Focaccia Bread </h3>
      <p class="w3-opacity">our popular food</p>
      <p>PFresh dough is topped with caramelized onions, olives, tomato slices, basil leaves, grated parmesan cheese and baked delicious!</p>
      </p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <%= image_tag("bruschetta-3540405_1280.jpg", alt: "Welcome Logo", :class => "w3-round w3-image w3-opacity-min", size:"200*100" ) %>
   
      <h3> Bruschetta</h3>
      <p class="w3-opacity">fresh making classic </p>
      <p> bruschetta has grilled bread topped with veggies, rubbed garlic and tomato mix. A country bread sliced and topped with different toppings - the evergreen tomato-basil and an inventive mushroom-garlic. The classic Italian starter!</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
       <%= image_tag("pizza-4662567_1280.jpg", alt: "Welcome Logo", :class => "w3-round w3-image w3-opacity-min", size:"200*100" ) %>
      
      <h3>Margherita Pizza</h3>
      <p class="w3-opacity"> fresh baking classic</p>
      <p>Fancy a pipping hot pizza, fresh out of the oven? Create one at home! Margherita Pizza is to many the true Italian flag. One of the most loved Italian dishes, it just takes a few simple ingredients and you get insanely delicious results! You just can't go wrong with that tomato, basil and fresh mozzarella combo.</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      
      
      <%= image_tag("pasta-712664_1280.jpg", alt: "Welcome Logo", :class => "w3-round w3-image w3-opacity-min", size:"200*100" ) %>
      
      <h3>Pasta Con Pomodoro E Basilico</h3>
      <p class="w3-opacity"> simplest food </p>
      <p> This one boats of being among the original Italian recipes of pasta. easy and quick, this pasta recipe can be made under half an hour. Serve as a breakfast, pack for kid's tiffin or savour as an evening snack. You can even cook this for a casual and lazy dinner and pair this up with red wine.</p>
      
    </div>
  </div>
