
<!-- Contact Section -->



  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>we would like to hear from you </p>
    <form  target="_blank">
      <div>
      <input class="w3-input w3-border" type="text" placeholder="Name"  required="required"   name="Name">
      </div>
      <div>
      <input class="w3-input w3-section w3-border" type="email" placeholder="Email" required="required" name="Email">
      </div>
      
      <div>
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required="required" name="Subject">
       </div>
      
      <div>
      <input class="w3-input w3-section w3-border" type="text"  style="height:200px"  placeholder="Comment" required="required" name="Comment">
       </div>
      
      
      
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"> <%= link_to "SEND MESSAGE", "/feedback" %> </i>
      </button>
    </form>
  </div>
