
  <div class="w3-container w3-padding-32 w3-center">  
    <h3>Thank you for your feedback</h3><br>
     <h3></h3><br>
     <%= image_tag("img1.jpg", alt: "Me", :class => "w3-round w3-image w3-opacity-min", size:"800*533" ) %>
    
    <div class="w3-padding-32">
      <h4><b> </b></h4>
      <h6><i>With Passion For Real, Good Tasty </i></h6>
      
       <h6><i>THANK YOU FOR YOUR EMAIL </i></h6>
       <h6><i>we will come back to you as soon as possible </i></h6>
     
  </div>
  <hr>
  