<% provide(:title, "Home Page") %>

<p id="notice"><%= notice %></p>

 <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     
     <%= image_tag("tasty1.jpg", alt: "Welcome Logo", :class => "w3-round w3-image w3-opacity-min", size:"600*750" ) %>    
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">welcome our new tasty bar </h1><br>
      <h2 class="w3-center">new opening in December 2021</h2>
      <h3 >This adorable bistro is tucked away beside Dublin Castle is so discreet that you probably wouldn't even notice it unless you were actively searching.

          Staff are friendly and the venue is lit by simple tealights at each table.

              The vibe is sophisticated but casual with a simple menu.

          You can sit on their terrace and watch the world go by as you enjoy your morning coffee,
          or treat yourself to a cheese board and a glass of wine after work .
          We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</h3>
      <p class="w3-large w3-text-grey w3-hide-medium"></p>
    </div>
  </div>